.hero-title {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.3;
    margin-bottom: 2rem;

    @media (min-width: 992px) { font-size: 2.5rem; }
}

.card {
    border-radius: 20px !important;
    border: none !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    
    h2 {
        font-size: 1.7rem !important;
        margin: 10px 0;
    }
}

.status {
    &--completed { color: #2d7a6e; font-weight: 600; }
    &--failed { color: #e74c3c; font-weight: 600; }
}