.hero-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; // Esto es el peso "Regular"
    font-size: 2.5rem; // Un tamaño grande y elegante
    color: #212529;
    margin-top: 20px;
}